<div class="banner">
      <div class="media-body text-center">
        <div class="title-banner">
          <h1 >Discover the World</h1>
          <h4 ><em><span id="tagline"></span></em></h4>
        </div>


        <div class="wrap">
          <div class="search">
            <form action="/apartments" method= "get">
              <input type="search" name="query" class="searchTerm" placeholder="What are you looking for?">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
             </button>
           </form>
          </div>
        </div>
  </div>
</div>

