<div class="wrapper-caroussel-show">
<div id="carousel-show-apt" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-show-apt" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-show-apt" data-slide-to="1"></li>
    <li data-target="#carousel-show-apt" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <% @apartment.photos.each_with_index do |photo, index| %>
    <% if index == 0 %>
    <div class="item active">
      <div class="show-banner-body" style='background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(" <%= cl_image_path photo.photo %>");'></div>
    </div>
    <% else %>
    <div class="item">
      <div class="show-banner-body" style='background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(" <%= cl_image_path photo.photo %>");'></div>
    </div>
    <% end %>
  <% end %>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-show-apt" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-show-apt" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
