.container {
  height: 100%;
}

.title {
  display: flex;
  justify-content: center;
}

// .form-inputs {
//   float: left;
//   width: 20%;
//   border: 3px solid #00B4CC;
//   padding: 5px;
//   height: 40px;
//   border-radius: 5px;
//   outline: none;
//   color: #9DBFAF;
// }

// .form-actions {
//   display: flex;
//   justify-content: center;
// }
