.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  background: #418DBD;
  border-radius: 8px;
}

.btn-create {
  margin-top: 10px;
  background: #418DBD;
  color: white;
  border-radius: 8px;
}

