.title-download {
  color: red;
}

.action-page{
  display: flex;
  vertical-align: left;
  justify-content: space-between;
}

.title-banner{
font-family: 'Jua', sans-serif;
}

.log-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background:
  linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
  .form-signin{
    height: 480px;
    width: 200%;
}
}


